@font-face{
    font-family: 'MojitoWeb';
    src: url('/fonts/MojitoWeb.woff') format('woff'),
         url('/fonts/MojitoWeb.ttf') format('truetype'),
         url('/fonts/MojitoWeb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}