@font-face {
  font-family: "Mojuto in June";
  src: url("/fonts/Mojito in June.woff?8b407ff96fc8fc047df79bdc0ab649ea") format("woff"), url("/fonts/Mojito in June.ttf?a455cb2bf641298341eeda2f8651a15a") format("truetype"), url("/fonts/Mojito in June.svg?5756c9163481135810b7845569119a52") format("svg");
  font-weight: normal;
  font-style: normal;
}

